@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Welcome to Razor Pizzas</h1>
        <h2 class="mainSubTitle">This pizza is for you and me!</h2>
    </div>
    <img class="mainImage" src="~/Images/wbk4bxc2uk811.jpg"/>
    <br/>
    <a class="btn btn-primary mt-1" asp-area="" asp-page="Checkout/ThankYou">GET ME THAT PIZZA</a>
</div>